.Nav {
    height: 100%;
    width: 100%;
    background-color: #FFF;
    position: fixed;
}

.Nav ul li {
    background-color: #FFF;
    float: left;
    list-style: none;
    line-height: 50px;
    text-align: center;
}

.Nav a {
    text-decoration: none;
    width: 450px;
    display: block;
    color: #F1D046;
    font-size: xx-large;
    font-weight: 900;
}

.Nav a:hover {
    color: rgb(221, 34, 9);
}

.Nav a:active {
    color: rgb(221, 34, 9);
}

.contact_text {
    text-align: right;
    font-size: 2.6em;
    font-weight: 900;
    margin: 70px 200px 0 0;
    color: #343333;
    
}