.Nav {
    height: 80px;
    margin: auto;
}

.Nav ul li {
    background-color: #FFF;
    float: left;
    list-style: none;
    line-height: 80px;
    text-align: center;
}

.Nav a {
    text-decoration: none;
    width: 450px;
    display: block;
    color: #EEC342;
    font-size: xx-large;
    font-weight: 900;
}

.Nav a:hover {
    color: rgb(221, 34, 9);
}